<img src="https://res.cloudinary.com/festak/image/upload/v1479482149/stars_gj0naj.png"/>
<div ng-init="getPopular()">
<ul>
    <li ng-repeat="popularCreative in popular">
        <h5>
            <a href="../../Creative/Details/?id={{popularCreative.Id}}">{{popularCreative.Name}}</a> <i>by {{popularCreative.UserName}}</i>
        </h5>   
        <i>{{popularCreative.Rating}} @Resources.Resource.Stars</i>
      
        <br />
    </li>
</ul>
    </div>
