
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Resources.Resource.Sort <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="btn" ng-click="changeSortType(1)">@Resources.Resource.SortCreateDate</a></li>
        <li><a class="btn" ng-click="changeSortType(2)">@Resources.Resource.SortEditDate</a></li>
        <li><a class="btn" ng-click="changeSortType(3)">@Resources.Resource.SortName</a></li>
    </ul>
</div>
