
<div class="btn-group">
    @*<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Resources.Resource.Sort <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li><a class="btn" ng-click="changeSortType(1)">@Resources.Resource.SortCreateDate</a></li>
            <li><a class="btn" ng-click="changeSortType(2)">@Resources.Resource.SortEditDate</a></li>
            <li><a class="btn" ng-click="changeSortType(3)">@Resources.Resource.SortName</a></li>
        </ul>*@
    <i class="glyphicon glyphicon-sort-by-alphabet btn-lg cursor-pointer"
       ng-click="changeSortType(1)"
       data-container="body"
       data-toggle="popover"
       data-animation="true"
       data-placement="top"
       data-content="Sort by name [A-Z]."></i>
    <i class="glyphicon glyphicon-sort-by-alphabet-alt btn-lg cursor-pointer"
       ng-click="changeSortType(2)"
       data-container="body"
       data-toggle="popover"
       data-placement="top"
       data-content="Sort by name [Z-A]."></i>
    <i class="glyphicon glyphicon-sort-by-attributes btn-lg cursor-pointer"
       ng-click="changeSortType(3)"
       data-container="body"
       data-toggle="popover"
       data-placement="top"
       data-content="Sort by creation date (new first)."></i>
    <i class="glyphicon glyphicon-sort-by-attributes-alt btn-lg cursor-pointer"
       ng-click="changeSortType(4)"
       data-container="body"
       data-toggle="popover"
       data-placement="top"
       data-content="Sort by creation date (old first)."></i>
    <i class="glyphicon glyphicon-sort-by-order-alt btn-lg cursor-pointer"
       ng-click="changeSortType(5)"
       data-container="body"
       data-toggle="popover"
       data-placement="top"
       data-content="Sort by popularity."></i>


</div>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({ trigger: "hover", delay: { "show": 500, "hide": 100 } })
    })
</script>