@model List<string>
<div id="myCanvasContainer">
    <canvas width="300" height="300" id="myCanvas">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
    </canvas>
</div>
<div id="tags">
    <ul>
        @foreach (var tag in Model)
            {
            <li>
                <a href="~/Creative/Search/?query=@tag" class="type-0">@tag</a>
            </li>
        }
    </ul>
</div>
