@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        Testing language locale:
        @Resources.Resource.ChooseLanguage
       @Resources.Resource.Name
        <div data-ng-controller='testController'>
            <div class='scr' when-scrolled='more()'>
                <div data-ng-repeat='item in items' class="well well-sm">
                    <div class="well well-sm">
                        <div class="col-md-8"><span>Nazvanie</span></div>
                        <div class="col-md-4"><span>Author</span></div>
                    </div>
                    <div class="well well-sm">medalkis</div>
                    <div class="well">
                        Panel contentadasdas
                        <br /> dasd
                        <br /> as
                        <br /> divas
                        <br />d asd
                        <br /> asda
                        <br /> ds asdas


                    </div>
                    <div class="well well-sm">
                        <div class="col-md-4">zvezd</div>
                        <div class="col-md-2">raiting</div>
                        <div class="col-md-6">date</div>
                    </div>
                </div>
            </div>
            <div data-ng-show='loading'>Loading</div>
        </div>
    </div>
    <div class="col-md-3">
        <div id="div1">
            <a href="http://codepen.io/fatihbs">JS</a>
            <a href="http://codepen.io/fatihbs" class="red">CSS3</a>
            <a href="http://codepen.io/fatihbs">HTML5</a>
            <a href="http://codepen.io/fatihbs">DIV</a>
            <a href="http://codepen.io/fatihbs" class="blue">style</a>
            <a href="http://codepen.io/fatihbs">SEO</a>
            <a href="http://codepen.io/fatihbs" class="red">3D</a>
            <a href="http://codepen.io/fatihbs" class="yellow">JavaScript</a>
            <a href="http://codepen.io/fatihbs">-.-</a>
            <a href="http://codepen.io/fatihbs" class="red">CSS</a>
            <a href="http://codepen.io/fatihbs">*_*</a>
        </div>
    </div>
</div>