@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        Testing language locale:
        @Resources.Resource.ChooseLanguage
       @Resources.Resource.Name

        <div style="width: 500px; height:500px; background-color: aqua" ng-controller="UserController" ng-init="getUsers()">
            <div ng-repeat="user in users">
               
                <span>{{user.UserName}}</span>
            </div>
        </div>

        <div style="width: 500px; height:200px; background-color: aqua" ng-controller="CreativeController" ng-init="getCreatives()">
            <div ng-repeat="creative in creatives">
                <span>{{creative.Name}}</span>
            </div>
        </div>

        <div data-ng-controller='testController'>
            <div class='scr' when-scrolled='more()'>
                <div data-ng-repeat='item in items' class="well well-sm">
                    <div class="well well-sm">
                        <div class="col-md-8"><span>{{item.Name}}</span></div>
                        <div class="col-md-4"><span>Author</span></div>
                    </div>
                    <div class="well well-sm">medalkis</div>
                    <div class="well">
                        Panel contentadasdas
                        <br /> dasd
                        <br /> as
                        <br /> divas
                        <br />d asd
                        <br /> asda
                        <br /> ds asdas
                    </div>
                    <div class="well well-sm">
                        <div class="col-md-4">zvezd</div>
                        <div class="col-md-2">raiting</div>
                        <div class="col-md-6">date</div>
                    </div>
                </div>
            </div>
            <div data-ng-show='loading'>Loading</div>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>