@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6" data-ng-controller='CreativeController'>
        Testing language locale:
        @Resources.Resource.ChooseLanguage
       @Resources.Resource.Name

            <div class='scr' ng-init='getCreatives()'>
                <div data-ng-repeat='creative in creatives' class="well well-sm">
                    <div class="well well-sm">
                        <div class="col-md-8"><span>{{creative.Name}}</span></div>
                        <div class="col-md-4"><span>{{creative.UserName}}</span></div>
                                       </div>
                    <div class="well well-sm">medalkis</div>
                    
                    <div class="well">
                        <div ng-repeat="chapter in creative.Chapters">
                        <span>{{chapter.Name}}</span>
                            </div>
                    </div>
                    <div class="well well-sm">
                        <div class="col-md-4">zvezdi</div>
                        <div class="col-md-2">{{creative.Rating}}</div>
                        <div class="col-md-6">{{creative.CreationDate}}</div> 
                    </div>      
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>