@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3 col-sd-2">
        <p>
            Most popular
            and last visited.
        </p>
    </div>
    <div class="col-md-6 col-sd-6" data-ng-controller='CreativeController'>
        Testing language locale:
        @Resources.Resource.ChooseLanguage
        @Resources.Resource.Name

        @Html.ActionLink("Add creative", "Create", "Creative")

        <div data-ng-controller='CreativeController'>
            <div class='scr' ng-init='getCreatives()' when-scrolled="load()">
                <div data-ng-repeat='creative in creatives' class="well well-sm">
                    <div class="well well-sm">
                        <div class="col-md-8"><span>{{creative.Name}}</span></div>
                        <div class="col-md-4"><span>{{creative.UserName}}</span></div>
                    </div>
                    <div class="well well-sm">medalkis</div>

                    <div class="well">
                        <div ng-repeat="chapter in creative.Chapters" ng-controller="MainController">
                     
                            <a ng-click="redirect(chapter.Id)">{{chapter.Name}}</a>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <div class="col-md-4">zvezdi</div>
                        <div class="col-md-2">{{creative.Rating}}</div>
                        <div class="col-md-6">{{creative.CreationDate}}</div>
                    </div>
                </div>
                <div data-ng-show='loading'>Loading</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sd-4">
       @Html.Partial("_TagCloud")
    </div>
</div>