@model SellTables.Models.ApplicationUser
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

<h2>UserPage</h2>

<div class="col-sm-8">
    <div ng-controller="CreativeController" ng-init="getCreativesByUser('@User.Identity.Name')">

            <!-- Wrapper for slides -->
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                 <div ng-repeat="creative in creatives">{{creative.Name}}</div>
            </div>
        </div>
        
   </div>
        <div class="col-sm-4">
            <div class="well">
                <p>Username: @Model.UserName</p>
            </div>
            <div class="well">
                <p>Upcoming Events..</p>
            </div>
            <div class="well">
                <p>Visit Our Blog</p>
            </div>
            <div class="well">
                @Html.ActionLink("Settings", "Index", "Manage", new { @class = "" })
            </div>
        </div>
        <hr>



        <div class="container text-center">
            <div class="wrapper">
                <div class="counter col_fourth">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title" id="count-number" data-to="@Model.ChaptersCreateCounter" data-speed="7000"></h2>
                    <p class="count-text ">Total count of chapters</p>
                </div>
            </div>
            </div>
        </div><br>

